{% extends "base.html" %}
{% block content %} 
<div class="mws-panel grid_8">
	<div class="mws-panel-header">
		<span><i class="icon-magic"></i> Registration Wizard</span>
	</div>
	<div class="mws-panel-body no-padding">
		<form id="mws-wizard-form" class="mws-form" action="dashboard.html">

			<fieldset id="step-1" class="mws-form-inline">
                                <legend class="wizard-label"><i class="icol-accept"></i> Url</legend>
                                <div class="mws-form-row">
					<label class="mws-form-label"> Protocol<span class="required">*</span></label>
					<div class="mws-form-item">
						<select name="protocol">
							<option value="http://" selected="">http://</option>
							<option value="https://" >https://</option>
						</select>
					</div>
                                </div>
				<div class="mws-form-row">
					<label class="mws-form-label">Url <span class="required">*</span></label>
					<div class="mws-form-item">
						<input type="text" required="" name="url" placeholder="www.example.com" class="required email large">
					</div>
                                </div>
				<div  class="mws-form-row">
					<label class="mws-form-label">Check Frequency <span class="required">*</span></label>
					<div class="mws-form-item">
						<select class="required large">
							<option value="5">Every 5 Minutes</option>
							<option value="30" selected="">Every 30 Minutes</option>
							<option value="60">Every 1 Hour</option>
							<option value="120">Every 2 Hour</option>
							<option value="720">Every 12 Hour</option>
							<option value="1440">Every day</option>
						</select>
					</div>
                                </div>
			</fieldset>

			<fieldset id="step-2" class="mws-form-inline">
                                <legend class="wizard-label"><i class="icol-delivery"></i> Membership Type</legend>
				<div class="mws-form-row">
					<label class="mws-form-label">SMS Alert<span class="required">*</span></label>
					<div class="mws-form-item">
						<input name="smsAlert" value="" class="ibutton" type="text">
					</div>
                                </div>
				<div class="mws-form-row">
					<label class="mws-form-label">Email Alert<span class="required">*</span></label>
					<div class="mws-form-item">
						<input name="emailAlert" value="" class="ibutton" type="text">
					</div>
                                </div>

			</fieldset>


		</form>
	</div>
</div>
{% endblock %}