{% extends "base.html" %}
{% block content %}              
<!-- Panels Start -->



<div class="mws-panel grid_8 *mws-collapsible">
	<div class="mws-panel-header">
		<span><i class="icon-table"></i> Browser Engines</span>
	</div>
	<div class="mws-panel-body no-padding">
		<table class="mws-table mws-datatable">
			<thead>
                                <tr>
					<th>Url</th>
					<th>Test Status</th>
					<th>Method</th>
					<th>Check Interval</th>
					<th>Alert Methods</th>
					<th>Last Check Status</th>
					<th></th>
                                </tr>
			</thead>
			<tbody>
				{% for l in laddus %}
                                <tr>
					<td>{{l.url}}</td>
					<td><span class="badge badge-success">{{l.get_runningStatus_display}}</span></td>
					<td>Normal</td>
					<td>{{l.frequency}}m</td>
					<td>
						{% for alert in l.activeAlerts %}
						<span class="badge badge-info">{{alert}}</span>
						{% endfor %}
					</td>
					<td><span class="badge badge-success">Ok</span></td>
					<td>
						<span class="btn-group">
							<a href="#" class="btn btn-small"><i class="icon-search"></i></a>
							<a href="#" class="btn btn-small"><i class="icon-pencil"></i></a>
							<a href="#" class="btn btn-small"><i class="icon-trash"></i></a>
						</span>
					</td>
                                </tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
</div>
{% endblock %}