.panel-heading .label.badgeFix
{
	margin: 0px;
	margin-left: 10px;
	padding: 2px 10px 3px 10px;
	/*border-radius: 0;*/
}
.info-Number
{
	min-height: 150px;
	display: inline-block;
	font-weight: bold;
	padding: 10px;
	box-sizing: border-box;
	vertical-align: middle;
	font-size: 77px;
	width: 100%;
	position: relative;
	border-radius: 10px;
}

.info-blocks > li {
	min-width: 200px;
}

a.hover { text-decoration:none; color:blue; }
a.hover:hover {text-decoration: underline;}

.page-header {
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
}

.running .stoppedShow,.stopped .runningShow
{
	display: none
}

.smsLi + .emptyMsg
{
	display: none;
}

.jobLi + .jobLiEmpty
{
	display: none;
}

.highcharts-tooltip>span {
	background: rgba(255,255,255,0.85);
	border: 1px solid silver;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #888;
	padding: 8px;
	z-index: 2;
}
.chatChart
{
	float: left;
	/*width: 30%;*/
}
.chat-member
{
	/*max-width: 40%;*/
	margin-top: 10px;
}
.chat-actions
{
	/*width: 30%;*/
	text-align: right;
	margin-top: 10px;
}
.message-list > li.noPaddding
{
	padding: 0 0 0 0;
}

.message-list > li.noPaddding:first-child {
	border-top: 0px solid #e5e5e5; 
}

.heading-hr {
	padding-bottom: 8px;
	margin-bottom: 0px;
}
.block-inner.text-info.sbHeading
{
	margin-bottom: 0px;
}
#toggleAddEMform, #toggleAddSMSform
{
	cursor: pointer;
}


.login-wrapper form {

	box-shadow: 0px 3px 7px #6F6F6F;
}
