{% extends "base.html" %}

{% block content %}
<link href="{{ STATIC_URL }}jQuery-ui-Slider/jquery-ui-slider-pips.css" rel="stylesheet" type="text/css"/>
<script src="{{ STATIC_URL }}jQuery-ui-Slider/jquery-ui-slider-pips.min.js" type="text/javascript"></script>



<div class="page-header">
	<div class="page-title">
		<h3>Add New Job</h3>
	</div>
</div>

<form class="form-horizontal" id="addJobFrm" role="form" method="post">

	{% csrf_token %}
	<input value="{{user.id}}" type="hidden" name="owner">
	<!-- Basic inputs -->
	<div class="panel panel-default">
		<!--<div class="panel-heading"><h6 class="panel-title"><i class="icon-bubble4"></i> Form elements</h6></div>-->
		<div class="panel-body">
<!--
			<div class="alert alert-success fade in block-inner">
				<button type="button" class="close" data-dismiss="alert">×</button>
				Default form components, including bootstrap additions and tags
			</div>-->

			<div class="form-group">
				<label class="col-sm-2 control-label">Protocol:</label>
				<div class="col-sm-10">
					<select name="protocol" class="select">
						<option selected="" value="http://">http://</option>
						<option value="https://">https://</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Url: </label>
				<div class="col-sm-10">
					<input required="" type="text" placeholder="eg : www.google.com" name="url" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Frequency: </label>
				<div class="col-sm-8">
					<div id="FreqSlider"></div>
					<input type="hidden" id="FreqSliderinp" name="frequency">

				</div>
			</div>

			<div class="form-actions text-right">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>

	<!-- /spinner -->

</form>




<script>
var months = [
	["15 Minutes", "30 Minutes", "1 Hour", "2 Hour", "12 Hour", "24 Hrs"],
	[15, 30, 60, 120, 720, 1440]
];

$("#FreqSlider").slider({min: 0, max: 5, value: 1});
$("#FreqSliderinp").val(months[1][1]);

$("#FreqSlider").slider("pips", {rest: "label", labels: months[0]})
$("#FreqSlider").on("slidechange", function(e, ui) {
	$("#FreqSliderinp").val(months[1][ui.value]);
});
//
//$('#addJobFrm')on('submit',function (e){
//})
//$.post("{% url 'newJob' %}", $("#addJobFrm").serialize())
//	.done(function(data) {
//		alert("Data Loaded: " + data);
//	});

</script>



{% endblock%}