<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<title>ChickPING</title>
		<link rel="icon" type="image/png" href="{{ STATIC_URL }}fav.png" />

		<link href="{{ STATIC_URL }}theme/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/londinium-theme.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/styles.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/icons.css" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}laddu.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/charts/sparkline.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uniform.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/select2.min.js"></script>
		<!--<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/inputmask.js"></script>-->
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/autosize.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/inputlimit.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/listbox.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/multiselect.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/validate.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/tags.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/switch.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uploader/plupload.full.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uploader/plupload.queue.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/wysihtml5/wysihtml5.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/wysihtml5/toolbar.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.culture.de-DE.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.culture.ja-JP.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/daterangepicker.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/fancybox.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/moment.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/mousewheel.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/jgrowl.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/datatables.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/colorpicker.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/fullcalendar.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/timepicker.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/application.js"></script>

	</head>
	{% load url from future %}
	<body>
		<input type="hidden" id="csrf_token" value="{{csrf_token}}">

		<!-- Navbar -->
		<div class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
				<h1 id="brandh"><a class="navbar-brand" href="{% url 'home'%}">ChickPING</a></h1>

				<a class="sidebar-toggle"><i class="icon-paragraph-justify2"></i></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-icons">
					<span class="sr-only">Toggle navbar</span>
					<i class="icon-grid3"></i>
				</button>
				<button type="button" class="navbar-toggle offcanvas">
					<span class="sr-only">Toggle navigation</span>
					<i class="icon-paragraph-justify2"></i>
				</button>
			</div>

			<ul class="nav navbar-nav navbar-right collapse" id="navbar-icons">



				<li class="user dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">

						<span class='icon-user'>{{ user.username }}</span>

					</a>

					<ul class="dropdown-menu dropdown-menu-right icons-right">
						<li><a href="/reset/password">Reset Password</a></li>

						<li><a href="{% url 'django.contrib.auth.views.logout_then_login' %}"><i class="icon-exit"></i> Logout</a></li>

					</ul>
				</li>


			</ul>
		</div>
		<!-- /navbar -->


		<!-- Page container -->
		<div class="page-container">


			<!-- Sidebar -->
			<div class="sidebar">
				<div class="sidebar-content">
					{% include "sidebar.html" %}
				</div>
			</div>
			<!-- /sidebar -->


			<!-- Page content -->
			<div class="page-content">




				{% block content %}{% endblock %}

				<style>
					.twitter img
					{
						height: 30px;
						margin-left: 10px;
						margin-right: 10px;
							
					}
				</style>

                                <!-- Footer -->
				<div class="footer clearfix">
					<!--<p>Copyright &copy;2015 dspl. All rights reserved. By <a href="http://doovisolutions.com" target="_blank">Doovi</a> India. Hand crafted made in India.</p>-->
					<p>


						<a target="_blank" class="twitter" href="https://twitter.com/Baijurahman">
							<img src="http://upload.wikimedia.org/wikipedia/en/9/9f/Twitter_bird_logo_2012.svg">
						</a>		
						<a target="_blank" class="twitter" href="https://twitter.com/lalabhishek">
							<img src="http://upload.wikimedia.org/wikipedia/en/9/9f/Twitter_bird_logo_2012.svg">
						</a>		

					</p>
				</div>
				<!-- /footer -->
			</div>
			<!-- /page content -->
		</div>
		<!-- /page container -->


	</body>
</html>
