<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<title>ChickPING</title>
		<link rel="icon" type="image/png" href="{{ STATIC_URL }}fav.png" />
		<link href="{{ STATIC_URL }}theme/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/londinium-theme.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/styles.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/icons.css" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}laddu.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/charts/sparkline.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uniform.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/select2.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/inputmask.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/autosize.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/inputlimit.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/listbox.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/multiselect.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/validate.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/tags.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/switch.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uploader/plupload.full.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uploader/plupload.queue.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/wysihtml5/wysihtml5.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/wysihtml5/toolbar.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.culture.de-DE.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.culture.ja-JP.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/daterangepicker.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/fancybox.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/moment.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/mousewheel.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/jgrowl.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/datatables.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/colorpicker.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/fullcalendar.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/timepicker.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/application.js"></script>
		<style>
			body
			{
				background: #00BDDF;
			}

		</style>
	</head>
	{% load url from future %}
	<body class="full-width page-condensed">

		<div class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
				<h1 id="brandh"><a class="navbar-brand" href="{% url 'home'%}">ChickPING</a></h1>
			</div>


		</div>
		<div class="login-wrapper">
			<form role="form" action="{% url 'forgotPassword' %}" id="forgotPasswordfrm" method="post">{% csrf_token %}

				<div class="popup-header">

					<span class="text-semibold">Forgot Password</span>

				</div>


				<div class="well">


					<div class="form-group">
						<label>User name</label>
						<input type="text" class="form-control required" required placeholder="username/email" name='username'>
					</div>
					<div hidden class="alert alert-warning fade in block  success"  >
						<button type="button" class="close close_success">×</button>
						<i class="icon-info"></i>We send a code to your email address, Please use the code to reset your password
					</div>
					<div hidden class="alert alert-warning fade in block failed"  >
						<button type="button" class="close close_failed">×</button>
						<i class="icon-info"></i>User name not found ..Please type the currect user name.
					</div>
					<div class="form-actions text-right">
						<button type="submit" class="btn btn-primary">Reset Password</button>
					</div>

				</div>



			</form>
		</div>
		<div class="footer clearfix">
			<p>Copyright &copy;2015 dspl. All rights reserved. By <a href="http://doovisolutions.com" target="_blank">Doovi</a> India. Hand crafted made in India.</p>

		</div>
	</body>

	<script>
$(".close_success").click(function()
{
	$(".success").hide()
})
$(".close_failed").click(function()
{
	$(".failed").hide()
})

$("#forgotPasswordfrm").submit(function(v) {
	v.preventDefault()
	if (!$(this).valid())
	{
		return false;
	}
	$(".success").hide();
	$(".failed").hide();
	$('.btn-primary').html('Sending...')
	var url = $("#forgotPasswordfrm").attr('action')
	var data = $("#forgotPasswordfrm").serialize()
	var frm = $("#forgotPasswordfrm")
	$(frm).find('input[type="submit"]').attr('disabled', 'disabled');

	$.post(url, data)
		.done(function(data) {
			if (data == 'saved')
			{
				$('.btn-primary').html('Success')
				$(".success").show();
				$('.btn-primary').hide()
			}
			if (data == 'username_not_found')
			{
				$('.btn-primary').html('Send')
				$(".failed").show();
			}
			if (data == 'failed')
			{
				$('.btn-primary').html('Sending failed')

			}
		})
		.fail(function() {
			alert(' Failed, Please try again!')
		})
	$(frm).find('input[type="submit"]').removeAttr('disabled');

})


	</script>
</body>
</html>

