<!DOCTYPE html>
<html>
	<head>
		<title>Chick Ping</title>
		<link rel="icon" type="image/png" href="{{ STATIC_URL }}fav.png" />
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- css -->
		<link href="{{STATIC_URL}}homepage/css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="{{STATIC_URL}}homepage/css/style.css" rel="stylesheet" media="screen">
		<link href="{{STATIC_URL}}homepage/color/default.css" rel="stylesheet" media="screen">
		<script src="{{STATIC_URL}}homepage/js/modernizr.custom.js"></script>
	</head>
	<body>
		<div class="menu-area">
			<div id="dl-menu" class="dl-menuwrapper">
				<button class="dl-trigger">Open Menu</button>
				<ul class="dl-menu">

					<li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
					<li><a href="/#signUp">Sign Up</a></li>

				</ul>
			</div><!-- /dl-menuwrapper -->
		</div>	

		<!-- intro area -->	  
		<div id="intro">

			<div class="intro-text">
				<div class="container">
					<div class="row">


						<div class="col-md-12">

							<div class="brand">
								<h1 id="brandh">ChickPING</h1>
								<div class="line-spacer"></div>
								<p><span>Your web site is <strong>#awesome!!</strong></span></p>
								<p><span>But is it <strong>#alive</strong> right now??</span></p>
								<p><span>Let us <strong>#monitor</strong> it for you and you will be the first one to know when <strong>#goes down!!</strong></span></p>
								<a href="#about" class="btn btn-danger">So Lets Start?</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>




		<!-- About -->
		<section id="about" class="home-section bg-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
						<div class="section-heading">
							<h2>What to do Now??</h2>
							<p>Its not your fault because your site is down.</p>
							<p>But what if you are not known about it.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<div class="service-box wow bounceInDown" data-wow-delay="0.1s">
							<i class="fa fa-magic fa-4x"></i>
							<h4>No Installation Required</h4>
							<p>Just fill in your web sites' Url and we will start pinging it. Easy?</p>

						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.3s">
						<div class="service-box wow bounceInDown" data-wow-delay="0.1s">
							<i class="fa fa-bell fa-4x"></i>
							<h4>Get Alerted!</h4>
							<p>Get alerted via e-mail, SMS, Twitter, push.</p>

						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.5s">
						<div class="service-box wow bounceInDown" data-wow-delay="0.1s">

							<i class="fa fa-bar-chart fa-4x"></i>
							<h4>Detailed Status Reports</h4>
							<p>Get Uptime, downtime, performance reports for free!</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.7s">
						<div class="service-box wow bounceInDown" data-wow-delay="0.1s">
							<i class="fa fa-bitcoin fa-4x"></i>
							<h4>Lot of Free Stuff</h4>
							<p>We are currently beta, so all accounts are now free. Also you will get 10 SMS credits for your account for free.</p>
							<!--<a class="btn btn-primary">Learn more</a>-->
						</div>
					</div>
				</div>	
			</div>
		</section>

		<!-- spacer -->	  
		<section id="spacer2" class="home-section spacer">	
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="color-light">
							<h2 id="focusON" style="color:transparent" class="wow *bounceInDown" data-wow-delay="1s">FOCUS <span>O</span><span>N</span><span> </span><span>D</span><span>E</span><span>V</span><span>E</span><span>L</span><span>O</span><span>P</span><span>M</span><span>E</span><span>N</span><span>T</span><span>.</span></h2>
							<p style="" class="lead wow bounceInUp" data-wow-delay="2s">while we focus status checking!</p>	
						</div>
					</div>				
				</div>
			</div>
		</section>	  
		<section id="signUp" class="home-section bg-orange">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
						<div class="section-heading">
							<h2>Lets Begin</h2>
							<p>Fill in the following form to get started. Fill in the address of your website and your account information.</p>
							<p>If you are a returning user, Please <a href="{% url 'django.contrib.auth.views.login' %}" class="btn btn-xs btn-primary">Login</a></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-offset-2 col-md-8">
						<form role="form" action="{% url 'homeSubmition' %}" id="homeSubmition" class="form-horizontal" method="post">{% csrf_token %}
							<div class="form-group">
								<div class="col-md-offset-2 col-md-8">
									<select class="form-control" id="inputName" name="protocol">
										<option selected="" value="http://">http://</option>
										<option value="https://">https://</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-8">
									<input autocomplete="off" type="text" required="True" placeholder="eg : www.google.com" name="url" class="form-control">

								</div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-8">
									<input autocomplete="off" type="email" required="True" class="form-control" name="username" placeholder="Email">
								</div>
							</div>
							<div class="form-group" id='usernameerrorbox'>
								<i class="icon-info"></i> <div id='usernameerrormsg' class="col-md-offset-2 col-md-8"></div>
							</div>
							<div class="form-group">
								<div class="col-md-offset-2 col-md-8">
									<input autocomplete="off" type="password" required="True" class="form-control" name="password" placeholder="Password">
								</div>
							</div>




							<div class="form-group">
								<div class="col-md-offset-2 col-md-8">
									<button type="submit" class="btn btn-info btn-lg btn-block">Sign Up</button>
								</div>
							</div>
						</form>


					</div>
				</div>
			</div>
		</section>	  
		<style>
			.twitter img
			{
				height: 30px;
				margin-left: 10px;
				margin-right: 10px;

			}
			footer {
				
				padding: 38px 0 30px;
			}
		</style>
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<!--<p>Copyright &copy;2015 dspl. <br>All rights reserved. By <a href="http://doovisolutions.com" target="_blank">Doovi</a> India. <br>Hand Crafted in India.</p>-->
						<p>


							<a target="_blank" class="twitter" href="https://twitter.com/Baijurahman">
								<img src="http://upload.wikimedia.org/wikipedia/en/9/9f/Twitter_bird_logo_2012.svg">
							</a>		
							<a target="_blank" class="twitter" href="https://twitter.com/lalabhishek">
								<img src="http://upload.wikimedia.org/wikipedia/en/9/9f/Twitter_bird_logo_2012.svg">
							</a>		

						</p>
					</div>
				</div>		
			</div>	
		</footer>
	</body>
	<!-- js -->
	<script src="{{STATIC_URL}}homepage/js/jquery.js"></script>
	<script src="{{STATIC_URL}}homepage/js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}homepage/js/jquery.smooth-scroll.min.js"></script>
	<script src="{{STATIC_URL}}homepage/js/jquery.dlmenu.js"></script>
	<script src="{{STATIC_URL}}homepage/js/wow.min.js"></script>
	<script src="{{STATIC_URL}}homepage/js/custom.js"></script>
	<script>
var mX, mY, distance,
	$distance = $('#distance span'),
	$element = $('#focusON');

function calculateDistance(elem, mouseX, mouseY) {
//	console.log(mouseX)
//	console.log(elem.offset().left + (elem.width()/2) )
	var bVal = Math.abs(mouseY - (elem.offset().top + (elem.height() / 2))) / 40
	bVal = (bVal > 10) ? 10 : bVal
	console.log(bVal)
	$element.css({
		'color': 'transparent',
		'text-shadow': '0px 0px ' + bVal + 'px white'
	})
	return Math.floor(Math.sqrt(Math.pow(mouseX - (elem.offset().left + (elem.width() / 2)), 2) + Math.pow(mouseY - (elem.offset().top + (elem.height() / 2)), 2)));
}

$(document).mousemove(function(e) {
	mX = e.pageX;
	mY = e.pageY;
	distance = calculateDistance($element, mX, mY);
//	console.log(distance)
});



$("#homeSubmition").submit(function(v) {
	v.preventDefault()

	var url = $("#homeSubmition").attr('action')
	var data = $("#homeSubmition").serialize()
	var frm = $("#homeSubmition")
	$(frm).find('input[type="submit"]').attr('disabled', 'disabled');

	$.post(url, data)
		.done(function(data) {
			if (data.data.success == 'True') {
				var url = "job/" + data.data.slug;
				$(location).attr('href', url);
			}
			if (data.data.form.username) {
				console.log(data.data.form.username[0])

				$("#usernameerrormsg").text("!!" + data.data.form.username[0])
				$("#usernameerrorbox").show()
			}
		})
		.fail(function() {
			alert(' Failed, Please try again!')
		})
	$(frm).find('input[type="submit"]').removeAttr('disabled');

})



	</script>

</html>