{% extends "base.html" %}

{% block content %}


<div class="page-header">
	<div class="page-title">
		<h3>Dashboard</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<ul class="info-blocks">
			
			<li class="bg-primary">
				<a class="info-Number" href="{% url 'jobs'%}">{{userExtn.runningJobCount|default:"0"}}</a>
				<span class="bottom-info bg-danger">Running Jobs</span>
			</li>
			
			<li class="bg-success">

				<a class="info-Number" href="{% url 'jobs'%}">{{userExtn.weekJobCount|default:"0"}}</a>
				<span class="bottom-info bg-primary">Checks in Last 24Hrs</span>
			</li>
			
		</ul>
		<ul class="info-blocks">
			
			<li class="bg-danger">

				<a class="info-Number" href="{% url 'jobs'%}">{{userExtn.failedChecks|default:"0"}}</a>
				<span class="bottom-info bg-primary">Failed Checks</span>
			</li>
			
			<li class="bg-info">

				<a class="info-Number" href="{% url 'jobs'%}">{{userExtn.smsCreditsRemaing|default:"0"}}</a>
				<span class="bottom-info bg-primary">SMS Alets Remaining</span>
			</li>
		</ul>
	</div>

</div>
<!-- /table hover -->




{% endblock %}                
