{% extends "base.html" %}
{% load jsonify %}
{% block content %}
{% load poll_extras %}
<script src="{{STATIC_URL}}highcharts/highcharts.js"></script>
<script src="{{STATIC_URL}}highcharts/data.js"></script>
<script src="{{STATIC_URL}}highcharts/heatmap.js"></script>
<script src="{{STATIC_URL}}highcharts/exporting.js"></script>

<script src="{{STATIC_URL}}jquery.inputmask.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}jquery.inputmask.date.extensions.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}jquery.inputmask.extensions.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}jobStatusGraph.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}jobActions.js" type="text/javascript"></script>





<div class="page-header">
	<div class="page-title">
		<h3><i class="icon-stats"></i>Job Status</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3 class=""><i class="icon-link"></i> <samp>{{laddu.protocol}}{{laddu.url}}</samp></h3>
	</div>

</div>
<div class="row {{laddu.runningStatus|yesno:"running,stopped"}} jobRow">
	<div class="col-md-5 col-md-offset-1">

		<span> Check Status :</span> <span class="status status-success runningShow"></span><span class="status status-warning stoppedShow"></span> <small class="runningShow">Running</small><small class="stoppedShow">Stopped</small>
		<br>
		<span>Checking Every {{laddu.get_frequency_display}}</span>
		<hr>
	</div>
	<div class="col-md-5 jobactions" style="text-align: right;">



		<a href="{% url 'jobStop' laddu.getSlug %}" class="jobStop btn  runningShow"><i class="icon-pause2"></i> Pause</a>

		<a href="{% url 'jobStart' laddu.getSlug %}" class="jobStart btn  stoppedShow"><i class="icon-play3"></i> Continue</a>


		<a href="{% url 'jobRemove' laddu.getSlug %}" class="jobRemove btn "><i class="icon-remove"></i> Remove</a>
		<!--<a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-camera5"></i></a>-->

		<hr>
	</div>
</div>	
<div class="row">
	<div class="col-md-12">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h6 class="panel-title"><i class="icon-stats"></i> Status Response Time</h6>
			</div>
			<div class="panel-body">
				<div id='gContainer' style="width: 98%"></div>
			</div>
		</div>

	</div>
</div>
<div class="row">
	<div class="col-md-12">


		<div class="panel panel-default">
			<div class="panel-heading">
				<h6 class="panel-title">
					<i class="icon-phone"></i> SMS Alerts
				</h6>

			</div>
			<div class="panel-body">

				<div class="block-inner text-info">
					<small class="display-block">Alerts you when the the check is a failure, Eg : when response code is in between 400 and 600</small>
				</div>
				<div class="block-inner text-info sbHeading">
					<h6 class="heading-hr">Enabled phone numbers</h6>
				</div>

				<ul class="message-list smsList">
					{% for sAl in laddu.getSMSAlertNumbers %}
					<li class="noPaddding smsLi" >

						<div class="clearfix">

							<div class="chat-member">
								<h6><i class="icon-phone"></i>{{sAl.number}}</h6>
							</div>

							<div class="chat-actions">
								<a href="{% url 'delSMSAlert' laddu.getSlug sAl.number %}" class="jobRemove btn btn-link btn-icon btn-xs"><i class="icon-remove"></i></a>
								<!--<a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-camera5"></i></a>-->
							</div>
						</div>

					</li>
					{% endfor %}
					<li class="noPaddding emptyMsg" >
						<div class="clearfix">
							<div class="chat-member text-warning">
								<h6><i class="icon-warning"></i> No phone numbers to send SMS alerts.</h6>
							</div>

						</div>
					</li>

				</ul>

				<div class="block-inner text-danger" style="margin-top: 64px;">
					<h6 class="heading-hr" id="toggleAddSMSform"><i class="icon-plus " ></i> Add Phone Number</h6>
				</div>
				<form action="{% url 'addSMSAlert' laddu.getSlug %}" role="form" id="addSMSform" style="display: none">
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<label>Phone :</label>
								<input required="" name="number" type="text" class="form-control mobile">
								<span class="help-block">+99-99-9999-9999</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<input type="submit" value="Add" class="btn btn-success pull-right">
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h6 class="panel-title">
					<i class="icon-mail3"></i> E-Mail Alerts
				</h6>

			</div>
			<div class="panel-body">

				<div class="block-inner text-info">
					<small class="display-block">Alerts you when the the check is a failure, Eg : when response code is in between 400 and 600</small>
				</div>
				<div class="block-inner text-info sbHeading">
					<h6 class="heading-hr">Enabled email addresses</h6>
				</div>

				<ul class="message-list smsList">
					{% for eAl in laddu.getEMAlertNumbers %}
					<li class="noPaddding smsLi" >

						<div class="clearfix">

							<div class="chat-member">
								<h6><i class="icon-mail3"></i>{{eAl.email}}</h6>
							</div>

							<div class="chat-actions">
								<a href="{% url 'delEMAlert' laddu.getSlug eAl.email %}" class="jobRemove btn btn-link btn-icon btn-xs"><i class="icon-remove"></i></a>
								<!--<a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-camera5"></i></a>-->
							</div>
						</div>

					</li>
					{% endfor %}
					<li class="noPaddding emptyMsg" >
						<div class="clearfix">
							<div class="chat-member text-warning">
								<h6><i class="icon-warning"></i> No E-mail address to send alerts.</h6>
							</div>

						</div>
					</li>

				</ul>

				<div class="block-inner text-danger" style="margin-top: 64px;">
					<h6 class="heading-hr" id="toggleAddEMform"><i class="icon-plus "  ></i> Add E-mail Address </h6>
				</div>
				<form action="{% url 'addEMAlert' laddu.getSlug %}" role="form" style="display: none" id="addEMform">
					<div class="form-group">
						<div class="row">
							<div class="col-md-6">
								<label>Email :</label>
								<input required="" name="email" type="email" class="form-control ">

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<input type="submit" value="Add" class="btn btn-success pull-right">
						</div>
					</div>
				</form>
			</div>
		</div>

	</div>
</div>








<script>

	var color = ["#7cb5ec", "#ff3c50"]
	var p = {{laddu.getGraph | jsonify}};
	graphify_FULL('#gContainer', p, '{{laddu.protocol}}{{laddu.url|truncatechars:20}}', {{laddu.getSuccessCount}}, {{laddu.getFailCount}});
	$('.mobile').inputmask("009{5,16}");
	$('.email').inputmask("email");
	$('#toggleAddEMform').click(function(){
$('#addEMform').slideDown(500)
	})
	$('#toggleAddSMSform').click(function(){
$('#addSMSform').slideDown(500)
	})
</script>





{% endblock %}                
