{% extends "base.html" %}
{% load jsonify %}
{% block content %}
{% load poll_extras %}
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/heatmap.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="{{STATIC_URL}}jobsgraph.js" type="text/javascript"></script>
<script src="{{STATIC_URL}}jobActions.js" type="text/javascript"></script>

<style>
	.highcharts-tooltip>span {
		background: rgba(255,255,255,0.85);
		border: 1px solid silver;
		border-radius: 3px;
		box-shadow: 1px 1px 2px #888;
		padding: 8px;
		z-index: 2;
	}
	.chatChart
	{
		float: left;
		/*width: 30%;*/
	}
	.chat-member
	{
		/*max-width: 40%;*/
		margin-top: 10px;
	}
	.chat-actions
	{
		/*width: 30%;*/
		text-align: right;
		margin-top: 10px;
	}
	.message-list > li.noPaddding
	{
		padding: 0 0 0 0;
	}
</style>





<div class="page-header">
	<div class="page-title">
		<h3>Monitor Jobs</h3>
	</div>
</div>

<div class="panel panel-default">
		<!--<div class="panel-heading"><h6 class="panel-title"><i class="icon-bubble4"></i> Form elements</h6></div>-->
		<div class="panel-body">

		<ul class="message-list jobList">{% for l in laddus %}
			<li class="noPaddding jobLi" >

				<div class="clearfix row {{l.runningStatus|yesno:"running,stopped"}} jobRow">

					<div class="chat-member col-md-8">
						<a href="{% url 'jobStats' l.getSlug %}">
							<h6>{{l.protocol}}{{l.url}}<span class="status status-success runningShow"></span><span class="status status-warning stoppedShow"></span> <small class="runningShow">Running</small><small class="stoppedShow">Stopped</small> <small> Every {{l.get_frequency_display}}</small></h6>
						</a>
					</div>
					<!--<div class="chatChart col-md-6"><div id="container{{l.id}}" style="height: 60px; width: 100%; margin: 0 auto"></div></div>-->

					<div class="chat-actions col-md-4  jobactions" style="text-align: right;">
						<a href="{% url 'jobStats' l.getSlug %}" class="btn btn-link btn-icon btn-xs"><i class="icon-stats"></i></a>
						<!--<a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-settings"></i></a>-->


						<a href="{% url 'jobStop' l.getSlug %}" class="jobStop btn btn-link btn-icon btn-xs runningShow"><i class="icon-pause2"></i></a>

						<a href="{% url 'jobStart' l.getSlug %}" class="jobStart btn btn-link btn-icon btn-xs stoppedShow"><i class="icon-play3"></i></a>


						<a href="{% url 'jobRemove' l.getSlug %}" class="jobRemove btn btn-link btn-icon btn-xs"><i class="icon-remove"></i></a>
						<!--<a href="#" class="btn btn-link btn-icon btn-xs"><i class="icon-camera5"></i></a>-->
					</div>
				</div>

			</li>
			{% endfor %}
			<li class="noPaddding jobLi jobLiEmpty" >

				<div class="clearfix row {{l.runningStatus|yesno:"running,stopped"}} jobRow">

					<div class="chat-member col-md-12">
						<a href="{% url 'newJob' %}">
							<h6 class="text-warning">Oops! Give use some thing to monitor, You can add your web site here</h6>
						</a>
					</div>
				</div>

			</li>
		</ul>



	</div>
</div>



{% for l in laddus %}

<script>
//	graphify('#container{{l.id}}', {{l.getGraph | jsonify}}, '{{l.protocol}}{{l.url|truncatechars:20}}');
</script>
{% endfor %}




{% endblock %}                
