<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<title>ChickPING</title>
		<link rel="icon" type="image/png" href="{{ STATIC_URL }}fav.png" />

		<link href="{{ STATIC_URL }}theme/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/londinium-theme.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/styles.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/icons.css" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}laddu.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/charts/sparkline.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uniform.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/select2.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/inputmask.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/autosize.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/inputlimit.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/listbox.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/multiselect.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/validate.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/tags.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/switch.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uploader/plupload.full.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uploader/plupload.queue.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/wysihtml5/wysihtml5.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/wysihtml5/toolbar.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.culture.de-DE.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.culture.ja-JP.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/daterangepicker.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/fancybox.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/moment.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/mousewheel.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/jgrowl.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/datatables.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/colorpicker.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/fullcalendar.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/timepicker.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/application.js"></script>
		<style>
			body
			{
				background: #00BDDF;
			}
		</style>
	</head>
	{% load url from future %}
	<body class="full-width page-condensed">

		<!-- Navbar -->
		<div class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
				<h1 id="brandh"><a class="navbar-brand" href="{% url 'home'%}">ChickPING</a></h1>
			</div>


		</div>
		<!-- /navbar -->


		<!-- Login wrapper -->
		<div class="login-wrapper">
			<form action="{% url 'django.contrib.auth.views.login' %}" method="post" role="form">{% csrf_token %}
				<div class="popup-header">

					<span class="text-semibold">User Login</span>

				</div>


				<div class="well">
					{%if form.errors%}
					<div class="alert alert-warning fade in block  password_no_mach">
						<button type="button" class="close close_nomatch">×</button>
						<i class="icon-info"></i>Username or password incorrect , Please fill the currect username and password. 
					</div>
					{% endif %}
					<div class="form-group has-feedback">
						<label>Username</label>
						<input type="text" class="form-control required" required placeholder="Username" name="username">
						<i class="icon-users form-control-feedback"></i>
					</div>

					<div class="form-group has-feedback">
						<label>Password</label>
						<input type="password" class="form-control required" required placeholder="Password" name="password">
						<i class="icon-lock form-control-feedback"></i>
					</div>
					<div class="row form-actions">
						<div class="col-xs-12">
							<input type="hidden" name="next" value="{{ next }}" />
							<button type="submit" class="btn btn-info pull-right btn-block"><i class="icon-menu2"></i> Sign in</button>
						</div>

					</div>
					<div class="row form-actions">


						<div class="col-xs-6">

							<a  class="" href="{% url 'forgotPasswordView' %}">Forgot Password</a>


						</div>
						<div class="col-xs-6">
							<a  class="" href="/#signUp">User Registration</a>
						</div>

					</div>



				</div>
			</form>
		</div>  
		<div class="footer clearfix">
								<p>Copyright &copy;2015 dspl. All rights reserved. By <a href="http://doovisolutions.com" target="_blank">Doovi</a> India. Hand crafted made in India.</p>
			
		</div>

	</body>
	<script>
$(".close_nomatch").click(function()
{
	$(".password_no_mach").hide();
})
	</script>

</html>
