{% extends "base.html" %}

{% block content %}

<form role="form" action="{% url 'resetPasswordSave' %}"  method="post">{% csrf_token %}
	<div class="panel panel-default" style="width: 624px; margin-left: 195px; margin-top: 50px;">

		<div class="panel-heading"><h6 class="panel-title"><i class=""></i>Reset password</h6></div>
		<div class="panel-body">
			{% if success %}
			<div class="alert alert-warning fade in block success_msg">
				<button type="button" class="close close_success">×</button>
				<i class="icon-info"></i> Your Password reseted successfully...
			</div>
			{% endif %}
			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control required password" required placeholder="Password" name='password1'>
			</div>
			<div class="form-group">
				<label>Confirm password</label>
				<input type="password" class="form-control required password" required placeholder="Password" name='password2'>
			</div>
			{% if password_incorrect %}
			<div class="alert alert-warning fade in block  password_no_mach">
				<button type="button" class="close close_nomatch">×</button>
				<i class="icon-info"></i> Your new password is incorrect , Please try again.
			</div>
			{% endif %}
			<div class="form-actions text-right">
				<button type="submit" class="btn btn-primary">Reset</button>
			</div>

		</div>


	</div>

</form>

<script>
	$(".close_nomatch").click(function()
	{
		$(".password_no_mach").hide()
	})
	$(".close_success").click(function()
	{
		$(".success_msg").hide()
	})

</script>
{% endblock%}