<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<title>Chick Ping</title>

		<link href="{{ STATIC_URL }}theme/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/londinium-theme.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/styles.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/icons.css" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}laddu.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/charts/sparkline.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uniform.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/select2.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/inputmask.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/autosize.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/inputlimit.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/listbox.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/multiselect.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/validate.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/tags.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/switch.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uploader/plupload.full.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uploader/plupload.queue.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/wysihtml5/wysihtml5.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/wysihtml5/toolbar.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.culture.de-DE.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.culture.ja-JP.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/daterangepicker.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/fancybox.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/moment.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/mousewheel.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/jgrowl.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/datatables.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/colorpicker.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/fullcalendar.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/timepicker.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/application.js"></script>

	</head>
	{% load url from future %}
	<body>

		<!-- Navbar -->
		<div class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'home'%}">Chick Ping</a>
				<a class="sidebar-toggle"><i class="icon-paragraph-justify2"></i></a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-icons">
					<span class="sr-only">Toggle navbar</span>
					<i class="icon-grid3"></i>
				</button>
				<button type="button" class="navbar-toggle offcanvas">
					<span class="sr-only">Toggle navigation</span>
					<i class="icon-paragraph-justify2"></i>
				</button>
			</div>

		</div>
		{% if success %}
		<form role="form" action="{% url 'savePswdUsingKey' %}" id="savePswdUsingKey" method="post">{% csrf_token %}
			<div class="panel panel-default" style="width: 624px; margin-left: 363px; margin-top: 50px;">
				<div class="panel-heading"><h6 class="panel-title"><i class=""></i>Reset password</h6></div>
				<div class="panel-body">


					<div hidden class="form-group">
						<label>User name</label>
						<input type="text" class="form-control required nameclear" value={{username}}  name='username'>
					</div>
					<div hidden class="form-group">
						<label>Secret key</label>
						<input type="text" class="form-control required nameclear" value={{key}}  name='key'>
					</div>
					<div hidden class="alert alert-warning fade in block  key_no_mach">
						<button type="button" class="close close_key_nomatch">×</button>
						<i class="icon-info"></i> Your user name or key do't match..
					</div>
					<div class="form-group">
						<label>New Password</label>
						<input type="password" class="form-control required password" required placeholder="Password" name='password1'>
					</div>
					<div class="form-group">
						<label>Confirm password</label>
						<input type="password" class="form-control required password" required placeholder="Password" name='password2'>
					</div>
					<div hidden class="alert alert-warning fade in block  password_no_mach">
						<button type="button" class="close close_nomatch">×</button>
						<i class="icon-info"></i> Your new password is incorrect , Please try again.
					</div>

					<div class="form-actions text-right">
						<button type="submit" class="btn btn-primary">Reset</button>
					</div>

				</div>


			</div>

		</form>
		{% else %}

		<div class="panel panel-default" style="width: 624px; margin-left: 363px; margin-top: 60px;">
			<div class="panel-heading"><h6 class="panel-title"><i class=""></i>Reset password</h6></div>
			<div class="panel-body">



				<div  class="alert alert-warning fade in block ">
					
					<i class="icon-info"></i> Sorry! This password reset link is no longer valid.
					<div style="padding-top: 10px; padding-left: 32px;"><p>
						<a  class="hover" href="/user/forgot/password">Try again</a>
					</p>
					</div>
				</div>


			</div>


		</div>


		{% endif %}


		<script>
$(".close_nomatch").click(function()
{
	$(".password_no_mach").hide()
})
$(".close_key_nomatch").click(function()
{
	$(".key_no_mach").hide()
})

$("#savePswdUsingKey").submit(function(v) {
	v.preventDefault()
	if (!$(this).valid())
	{
		return false;
	}
	var url = $("#savePswdUsingKey").attr('action')
	var data = $("#savePswdUsingKey").serialize()
	var frm = $("#savePswdUsingKey")
	$(frm).find('input[type="submit"]').attr('disabled', 'disabled');

	$.post(url, data)
		.done(function(data) {
			if (data == 'saved')
			{
				var url = "/";
				$(location).attr('href', url);
			}
			if (data == 'password_incorrect')
			{
				$('.password_no_mach').show()
				$('.password').val('')
			}
			if (data == 'no_key')
			{
				$('.key_no_mach').show()
				$('.nameclear').val('')
			}
			if (data == 'failed')
			{
				$('.btn-primary').html('Reset failed')

			}
		})
		.fail(function() {
			alert(' Failed, Please try again!')
		})
	$(frm).find('input[type="submit"]').removeAttr('disabled');

})


		</script>

	</body>
</html>
