<!-- Main navigation -->
{% load url from future %}


<ul class="navigation">
	<li>
		<a href="{% url 'home' %}">
			<span>Dash board</span><i class="icon-stats"></i>
		</a>
	</li>

	
	<li>
		<a href="{% url 'newJob' %}">
			<span>New Job</span><i class="icon-plus"></i>
		</a>
	</li>
	
	
	<li>
		<a href="{% url 'jobs'%}">
			<span>Jobs</span><i class="icon-menu2"></i>
		</a>
	</li>

	
	
<!--	<li>
		<a href="/">
			<span>Alerts</span><i class="fa fa-fire"></i>
		</a>
	</li>-->

</ul>
<!-- /main navigation -->