<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<title>Chick Ping</title>

		<link href="{{ STATIC_URL }}theme/css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/londinium-theme.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/styles.css" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}theme/css/icons.css" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
		<link href="{{ STATIC_URL }}laddu.css" rel="stylesheet" type="text/css"/>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/charts/sparkline.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uniform.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/select2.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/inputmask.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/autosize.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/inputlimit.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/listbox.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/multiselect.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/validate.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/tags.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/switch.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uploader/plupload.full.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/uploader/plupload.queue.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/wysihtml5/wysihtml5.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/forms/wysihtml5/toolbar.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.culture.de-DE.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/globalize/globalize.culture.ja-JP.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/daterangepicker.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/fancybox.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/moment.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/mousewheel.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/jgrowl.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/datatables.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/colorpicker.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/fullcalendar.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/plugins/interface/timepicker.min.js"></script>

		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}theme/js/application.js"></script>

	</head>
	{% load url from future %}
	<body class="full-width page-condensed">

		<!-- Navbar -->
		<div class="navbar navbar-inverse" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="{% url 'home'%}">Chick Ping</a>
			</div>


		</div>
		<!-- /navbar -->
		<form role="form" action="{% url 'saveUser' %}" id='userRegisterFrm' method="post">{% csrf_token %}
			<div class="panel panel-default" style="width: 624px; margin-left: 363px; margin-top: 50px;">
				<div class="panel-heading"><h6 class="panel-title"><i class=""></i> User Registration</h6></div>
				<div class="panel-body">


					<div class="form-group">
						<label>User Name:</label>
						<input type="text" class="form-control required" value="" placeholder="User Name" autocomplete="off" name='username'>
					</div>
					<div hidden class="alert alert-warning fade in block" id='usernameerrorbox' >
						<button type="button" class="close close_username" >×</button>
						<i class="icon-info"></i> <div id='usernameerrormsg'></div>
					</div>

					<div class="form-group">
						<label>Password:</label>
						<input type="password" class="form-control required" placeholder="Password" autocomplete="off" name='password'>
					</div>
					<div hidden class="alert alert-warning fade in block" id='passworderrorbox' >
						<button type="button" class="close close_password" >×</button>
						<i class="icon-info"></i> <div id='passworderrormsg'></div>
					</div>

					<div class="form-group">
						<label>Email:</label>
						<input type="text" class="form-control required"  placeholder="Email" name='email'>
					</div>
					<div hidden class="alert alert-warning fade in block" id='emailerrorbox' >
						<button type="button" class="close close_email">×</button>
						<i class="icon-info"></i> <div id='emailerrormsg'></div>
					</div>


					<div class="form-actions text-right">
						<input type="submit" value="Save" class="btn btn-primary">
					</div>

				</div>
			</div>
		</form>

		<!-- Footer -->
		<div class="footer clearfix">
			<div class="pull-left">&copy; 2013. Londinium Admin Template by <a href="http://themeforest.net/user/Kopyov">Eugene Kopyov</a></div>
			<div class="pull-right icons-group">
				<a href="#"><i class="icon-screen2"></i></a>
				<a href="#"><i class="icon-balance"></i></a>
				<a href="#"><i class="icon-cog3"></i></a>
			</div>
		</div>
		<!-- /footer -->


	</body>
</html>


<script>
$(".close_username").click(function()
{
	$("#usernameerrorbox").hide()
})
$(".close_password").click(function()
{
	$("#passworderrorbox").hide()
})

$(".close_email").click(function()
{
	$("#emailerrorbox").hide()
})
$("#userRegisterFrm").submit(function(v) {
	v.preventDefault()
	if (!$(this).valid())
	{
		return false;
	}

	var url = $("#userRegisterFrm").attr('action')
	var data = $("#userRegisterFrm").serialize()
	var frm = $("#userRegisterFrm")
	$(frm).find('input[type="submit"]').attr('disabled', 'disabled');

	$.post(url, data)
		.done(function(data) {

			if (data == "saved")
			{

//					$(".form-control").val("")
//					$("#usernameerrorbox").hide()
//					$("#passworderrorbox").hide()
//					$("#emailerrorbox").hide()
				var url = "/";
				$(location).attr('href', url);

			}
			else
			{
				if (data.data.form.username) {

					$("#usernameerrormsg").text("!!" + data.data.form.username[0])
					$("#usernameerrorbox").show()
				}
				if (data.data.form.password) {

					$("#passworderrormsg").text("!!" + data.data.form.password[0])
					$("#passworderrorbox").show()
				}
				if (data.data.form.email) {

					$("#emailerrormsg").text("!!" + data.data.form.email[0])
					$("#emailerrorbox").show()

				}
			}

		})
		.fail(function() {
			alert(' Failed, Please try again!')
		})
	$(frm).find('input[type="submit"]').removeAttr('disabled');

})


</script>

