<html>
  <head>
    <title></title>
    <meta content="">
    <style></style>
  </head>
  <body>
	  WEb site down alert
	  <h3 class=""><i class="icon-link"></i> <samp>{{laddu.protocol}}{{laddu.url}}</samp></h3> is DOWN
  </body>
</html>